.login-button,
.nav-section,
.login-section,
.logo-section,
.nav-container,
.nav-section ul{
    display: flex;
}
.nav-container{
    flex-direction: column;
    row-gap: 40px;
}
button{
    background-color: #ffffff;
    cursor: pointer;
    border: 0;
}
.login-section{
    justify-content: flex-end;
    padding:20px;
}
.login-button,
.nav-section ul{
    align-items: center;
}
.login-button p{
    margin:0 20px
}
.nav-section,
.logo-section{
    justify-content: center;
}
.nav-section{
    position: relative;
    align-items: center;
}
.nav-section ul{
    list-style: none;
    gap: 20px;
}
.nav-section .search{
    position: absolute;
    right:20px;
    border-bottom: 1px solid #000000;
}
.nav-section .search input{
    border: 0;
    padding: 5px 0;
}
